.newlyweds {
	display: flex;
	align-items: center;
	font-size: 2em;
	gap: 0.4em;
	font-family: 'Mark-Script';
	color: $title-color-inverse;
	@include text-shadow;

	img {
		width: 1.8em;
		height: auto;
		filter: drop-shadow(0.08em 0.01em 0.05em rgba(0, 0, 0, 0.3))
	}
}