// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #262422;
$dark: #666666;
$gray: #CFCAC6;
$white: #FFFFFF;
$blue: #458BDD;
$sky: #B9D8FD;

// elemets color
$main-bg: $white;
$text-color: $dark;
$text-color-inverse: $gray;
$title-color: $black;
$title-color-inverse: $white;
$decor: $blue;
$decor-light: $sky;
$secondary: $gray;

$grad-1: linear-gradient(157deg, #458BDD 3.04%, #1061C1 100%);