.about {


	&__gallery {
		position: relative;
		display: flex;
		flex-direction: column;
		aspect-ratio: 3/4.5;
		margin-top: 4em;
	}


	&__grid {
		position: relative;
	}

	&__picture {
		width: 100%;
		position: absolute;

		&[data-order='1'] {
			width: 100%;
			left: 50%;
			top: 0;
			transform: translate(-50%, -20%);
		}

		&[data-order='2'] {
			width: 60%;
			top: 28%;
			transform: translateX(5%);
			right: 0;
		}

		&[data-order='3'] {
			width: 60%;
			transform: translateX(-10%);
			top: 36%;
		}

		&[data-order='4'] {
			width: 100%;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__decor {
		transform: translateY(-25%);
		margin: 0 auto;
		z-index: -1;
		margin-bottom: -6em;
	}

	&__decor_1 {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		z-index: -1;
	}
}